input {
    width: 200px;
    height: 40px;
    position: relative;

}


form {
    display: flex;
    align-items: center;
}

.inputsearch {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(119, 252, 119, 0.515)

}

button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputsearch {
    border: 2px solid black
}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-country {
    font-size: 30px
}